################################################
################################################
#command = /opt/homebrew/bin/nu

auto-update-channel = tip

################################################

#theme = "Banana Blueberry"
#theme = "Aura Light"

# font-family = "MonoLisa Variable"
font-family = "Andale Mono"
font-size = 16

adjust-cell-height = 15%

selection-invert-fg-bg = true
mouse-hide-while-typing = true
mouse-scroll-multiplier = 2

#unfocused-split-opacity = 0.3
split-divider-color = #edecee

window-padding-balance = true 
window-padding-x = 20
window-padding-y = 10
window-save-state = always
macos-titlebar-style = native

# other
copy-on-select = clipboard

################################################
################################################
keybind = shift+enter=text:\n
